form {
  display: flex;
  flex-direction: column;
}

mat-card {
  max-width: 500px;
  margin: auto;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

mat-divider {
  margin: 20px 0;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.students {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}